name: ci

on:
  pull_request:

jobs:
  ci:
    name: markdown-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: avto-dev/markdown-lint@v1
        with:
          config: ".markdownlint.yml"
          args: "content/posts/*.md"
